.action {
    font-size: 20px;
    width: 200px;
    height: 200px;
}

.small {
    font-size: 20px;
    width: inherit;
    height: inherit;
}

.close {
    font-size: 20px;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 200px/2);
    padding: 20px;
    width: 200px;
    height: 100px;
}

.cell {
    font-size: 30px;
    width: 16%;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
}

.mini-cell {
    font-size: 20px;
    width: 150px;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    height: 30px;
    padding: 5px;
    margin-top: -10px;
}

.mini-cellTable {
    padding: 10px;
    margin-left: 145px;
    margin-top: -30px;
}

.pick-menu {
    font-size: 30px;
    padding: 20px;
}

button:focus:not(:focus-visible) {
    outline: none; /* Remove the outline for mouse and touch interaction */
}
  
button:focus-visible {
    outline: 2px solid blue; /* Apply a custom focus outline for keyboard navigation */
}

.none {
    display: none;
}

.titleValue {
    width: 150px;
    display: inline-block;
}